extends ../layout/octo

include ../partial/mixin/options

block content
    form(method="POST").form-horizontal
        div.col-md-4.col-md-push-4
            div.form-group
                div.col-xs-12
                    label(for="user") Bedrijfsnaam
                    input(name='user', required, placeholder="Bedrijfsnaam")#user.form-control
            div.form-group
                div.col-xs-12
                    label(for="pass") Email
                    input(type='email', reuired, name='email', placeholder="Email")#email.form-control
            div.form-group
                div.col-xs-12
                    label(for="pass") Wachtwoord
                    input(type='password', reuired, name='pass', placeholder="Wachtwoord")#pass.form-control
            div.form-group
                div.col-xs-12
                    label(for="pass2") Re Wachtwoord
                    input(type='password', reuired, name='pass2', placeholder="Re Wachtwoord")#pass2.form-control
            div.form-group.pull-right
                div.col-xs-12
                    div.btn-group
                        a(href="/octo/auth/login").btn.btn-link al een account?
                        button.btn.btn-primary Registreren
