mixin octonav(links)
    ul.nav.nav-tabs
        for link in links
            li(class={active: link.active})
                a(href=link.href)= link.name
        li.pull-right: a(href="/octo/auth/logout") Uitloggen
