doctype html
html
    head
        title= title

        include ./partial/meta

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/dist/css/main.css')

        block css

    body

        header
          nav.navbar.navbar-default(role='navigation')
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='/') Vuurvechters
              #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/') Home
                  li
                    a(href='/companies') Bedrijven
                  li
                    a(href='/octo') Support
          .container
            .col-sm-8.col-lg-8
              h1
                | Geen stress.
                br
                |  Geen probleem.
            .col-sm-4.col-lg-4
              img(src='/images/steven_de_brandweerman.png', alt='Steven de brandweerman')



        section
          .container.whatwedo
            h2.text-center Wij doven het wel
            hr
            .col-md-6
              h4
                i.fa.fa-question-circle
                |  Technisch advies
              p
                | Heeft u een probleem? Weet u niet hoe u het moet aanpakken? Of gewoon voor extra zekerheid? De Vuurvechters zullen u advies aanbieden!
                | Wij luisteren met aandacht naar uw problemen. Wanneer u vast komt te zitten tijdens een project en u bent niet zeker van wat uw mogelijkheden zijn of u weet niet wat de beste keus is; dan bieden wij u een uitgebreid antwoord op uw vraag.
            .col-md-6
              h4
                i.fa.fa-shield
                |  Project ondersteuning
              p
                | Komt u er niet uit? Geen idee hoe u moet beginnen? Of gaat het u gewoon niet alleen lukken? Vuurvechters redt u uit uw problemen!
                | Of het nou ligt aan het ontwikkelen van complexe functionaliteiten, het neerzetten van een ontwikkelings omgeving of een klein brandje dat geblust moet worden. Wij doven het vuur.
        section.lazyniss
          .container.whoarewe
            .col-md-5.col-md-offset-1.col-sm-7
              h2
                b Wie zijn wij?
                br
                i Een kleine, gepassioneerd, en krachtig team.
              p
                | De Vuurvechters is een startend bedrijf die een focus legt op het blussen van brandjes die bij bedrijven voorkomen.
                | Met maar 4 teamleden hebben wij een brede kijk en kennis op het oplossen van complexe problemen voor zowel de front- als back-end van media applicaties.
        section
          .container
            h2.text-center
              | Voor alle hulp die wij bieden kunnen onze klanten gebruik maken van ons ticketing systeem.
            hr
            .col-md-8.col-md-offset-2
              | Met dit systeem kan de klant aangeven wat het probleem is en waar de prioriteit ligt. Hiermee kunnen wij overzichtelijk en op professioneel onze klanten behandelen en hun problemen zo snel mogelijk verhelpen.
        section.ticket_image
          //
        section
          .container
            .col-md-12
              h1 Hulp nodig?
              p
                | Wij kunnen jou allen helpen als je in ons systeem staat. Dus maak eerst even een ticket aan voordat je langs komt.

        include ./partial/footer

        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
