extends ./layout/main

include ./partial/mixin/heading

block content
    +heading(heading.title, heading.tagline)
    section.container
        div.row
            div.col-sm-6
                div.panel.panel-custom
                    div.panel-heading
                        h3 <i class="fa fa-question-circle"></i> Advies
                    div.panel-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.col-sm-6
                div.panel.panel-custom
                    div.panel-heading
                        h3 <i class="fa fa-shield"></i> Ondersteuning
                    div.panel-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.cloud
        div.container
            div.row.valign.text-center
                div.col-md-6.hidden-xs
                    img(src="/images/tickets.png").img-responsive.center-block
                hr.visible-sm
                div.col-md-6.text-left
                    div.panel.panel-custom
                        div.panel-heading
                            h3 <i class="fa fa-wrench"></i> Werkwijzen
                        img(src="/images/tickets.png").visible-xs
                        div.panel-body
                            p Voor alle hulp die wij bieden kunnen onze klanten gebruik maken van ons help systeem. Met dit help systeem kan de klant aangeven wat het probleem is, en waar de prioriteiten liggen. Dat zorgt ervoor dat alle tickets makkelijk en overzichtelijk behandeld worden.
                            a(href="#").btn.btn-danger.pull-right Meld je aan
    section.container
        div.row.valign.text-center
            div.col-sm-4
                img(src="/images/logo.png").img-responsive.center-block
            div.col-sm-8.text-left
                div.panel.panel-custom
                    div.panel-heading
                        h3 <i class="fa fa-users"></i> Over ons
                    div.panel-body
                        p Wij zijn een startend bedrijf genaamd Vuurvechters en wij blussen de brandjes van andere bedrijven. Als u een probleem heeft kunnen wij hier advies en hulp aanbieden om samen op een passende oplossing te komen. Wij hebben een brede kijk en kennis op het oplossen van complexe problemen van zowel de front- en back-end van applicaties.
