extends ./layout/main

include ./partial/mixin/heading

block content
    +heading(heading.title, heading.tagline)
    section.container
        div.row
            div.col-sm-6
                div.panel.panel-custom
                    div.panel-heading
                        h3 <i class="fa fa-question-circle"></i> Advies
                    div.panel-body
                        p
                            b Heeft u een probleem? Weet u niet hoe u het moet aanpakken? Of gewoon voor extra zekerheid? VuurVechters zult u advies en *kennis* bieden!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div.row
            div.col-sm-6.col-sm-push-6
                div.panel.panel-custom
                    div.panel-heading
                        h3 <i class="fa fa-shield"></i> Ondersteuning
                    div.panel-body
                        p
                            b Komt u er niet uit? Geen idee hoe je moet beginnen? Of gaat u dit gewoon niet alleen lukken? VuurVechters redt u uit uw problemen!
                        p Of het nou ligt aan het ontwikkelen van complexe functionaliteiten, het verpulveren van bugs of het neerzetten van een ontwikkelings en/of live omgeving. Wij zullen u hiervoor dan ook een passende oplossing voor bieden.
    section.cloud
        div.container
            div.row.valign.text-center
                div.col-md-6.hidden-xs
                    img(src="/images/tickets.png").img-responsive.center-block
                hr.visible-sm
                div.col-md-6.text-left
                    div.panel.panel-custom
                        div.panel-heading
                            h3 <i class="fa fa-wrench"></i> Werkwijzen
                        img(src="/images/tickets.png").visible-xs
                        div.panel-body
                            p
                                b Voor alle hulp die wij bieden kunnen onze klanten gebruik maken van ons ticketing systeem.
                            p Met dit systeem kan de klant aangeven wat het probleem is, waar de prioriteiten liggen, etc.. Dat zorgt ervoor dat alle tickets zo makkelijk en overzichtelijk mogelijk behandeld worden.
                            a(disabled).btn.btn-danger.pull-right Coming soon..
    section.container
        div.row.valign.text-center
            div.col-sm-8.text-left
                div.panel.panel-custom
                    div.panel-heading
                        h3 <i class="fa fa-users"></i> Over VuurVechters
                    div.panel-body
                        p
                            b De vuurvechters is een startend bedrijf die een focus legt op het blussen van brandjes die bij bedrijven voorkomen.
                        p Met maar 4 werknemers hebben wijn een brede kijk en kennis op het oplossen van complexe problemen voor zowel de front-end als back-end van media applicaties.
                        p Onze kennis varieert daarom ook uit:
                        ul
                            li Technieken
                            li Programmeer talen
                            li Hosting
                            li Gebruikers ervaring
                            li Bugs verpulveren
                            li en nog veel meer.
            div.col-sm-4
                img(src="/images/logo.png").img-responsive.center-block
