extends layout/base

block content
    form(method="POST").col-sm-6.col-sm-push-3
        if message != ""
            div.alert.alert-danger
                p #{message}
        div.form-group
            input(type='password', name='pass', placeholder="Wachtwoord")#pass.form-control
        div.form-group
            button(type="submit").btn.btn-primary.pull-right Submit
