.groups {

    .list-group-item {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .media-left a {
        display: table;
        width: 200px;
        text-align: center;
    }
    .media-left img {
        max-width: 200px;
    }

}
