.navbar {
    margin-bottom: 0;
    padding: 20px 0 20px 0;
}
.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(248, 248, 248, 0);

    .navbar-brand {
        color: #fff;
        font-weight: 800;
        font-size: 2em;
    }

    .navbar-nav>li>a {
        color: #fff;
    }
}

header {
    height: 90%;
    background-color: #fe4444;

    .container {
        height: auto;
        position: relative;
        top: 10%;

        h1 {
            color: #fff;
            font-size: 3em;
            margin-top: 20%;
        }
        img {
            width: 100%;
            margin-top: 8%;
        }
    }
}

section {
    padding: 50px 0 60px 0;
    h2 {
        font-size: 2.2em;
    }
    h4 {
        font-size: 1.5em;
    }

    .whatwedo {
        .col-md-6 {
            padding: 10px 35px 10px 35px;
        }
    }

    .whoarewe {
        h2 {
            i {
                font-size: 0.9em;
            }
        }
    }
}

.lazyniss {
    background-image: url('../images/lazyniss.jpg');
    background-size: cover;
    background-position: center -220px;
    background-repeat: no-repeat;
}
.ticket_image {
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150);
    background-size: cover;
    background-position: center;
    height: 400px;
}

@media (max-width:1200px) {
    .lazyniss {
        background-position: center 0;
    }
}
