
section {
    padding: 40px 0;
    margin-bottom: 30px;
}

.cloud {
    padding: 40px 0;
    background: #eee;
    box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
}

.panel-custom {
    background: transparent;
    border-radius: none;
    box-shadow: none;

    .panel-heading {
        border-radius: none;
        padding: 10px 10px;

        h3 {
            margin: 0;
        }
    }

    & > img {
        width: 100%;
    }

    .panel-body {
        background: #fff;
        border-left: 1px solid #b00;
        box-shadow: inset 0px 0px 5px #ccc;
    }
}
