footer
  .container
    .col-md-6
      ul
        li
            a(href='/') Home
        li
            a(href='/companies') Bedrijven
        li
            a(href='/password') Beheer
        li
            a(href='octo') Support
        
      .clearfix
      p Copyright © 2015 VuurVechters All Rights Reserved.
