footer
    div.container
        div.row
            ul.list-inline
                li: a(href="/").btn.btn-link Homepagina
                li: a(href="/companies").btn.btn-link Bedrijven
                li: a(href="/manage").btn.btn-link Beheer
                li: a(href="/octo").btn.btn-link Octo ticket
            div.col-md-12
                p Copyright &copy; 2015&nbsp;
                    a(href="/") VuurVechters.nl
                    a(href="mailto://contact@vuurvechters.nl").pull-right contact@vuurvechters.nl
