extends ../../layout/octo

block content
    form(method="POST")#FORM_DELETE
        input(type="hidden", name="_method", value="DELETE")
    div.table-responsive
        table.table
            thead
                tr
                    th #
                    th Client
                    th Email
            tbody
                each client in clients
                    tr
                        td= client.id
                        td= client.name
                        td= client.email
                        td
                            button(onclick="return window.confirm('weet je dit zeker?');", form="FORM_DELETE", formaction="/octo/clients/"+client.id).btn.btn-danger.btn-xs: i.fa.fa-trash
