doctype html
html
    head
        title= title

        include ./../partial/meta

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/dist/css/main.css')
        block css

    body
        include ./../partial/mixin/header
        +header()

        block content

        include ./../partial/footer

        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        block script
