doctype html
html
    head
        title= title

        include ./../partial/meta

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/dist/css/main.css')
        block css

    include ./../partial/mixin/header
    include ./../partial/mixin/heading
    include ./../partial/mixin/octo-nav
    body
        +header()(class="small")
        if (heading)
            +heading(heading.title, heading.tagline, heading.bg)
        div.container
            div.row
                div.col-xs-12
                    div.alert.alert-info Vuurvechters ticketing systeem is momenteel in <b>beta</b>.
                    if (success)
                        div.alert.alert-success.alert.dismissible
                            button(type="button", data-dismiss="alert").close: span &times;
                            | #{success}
                    if (error)
                        div.alert.alert-danger #{error}
            if (current)
                div.row
                    div.col-xs-12
                        +octonav(links, active)
            div.view-fix
            div.row
                block content
        include ./../partial/footer
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        block script
