
footer {
    padding: 40px;
    background-color: #eee;
    font-size: 14px;

    p {
        margin-top: 20px;
    }
}

@media (max-width:450px) {
    footer {
        ul {
            li {
                float: none;
                margin: 10px 0 10px 0;
                text-align: center;
            }
        }
    }
}
