//
// body > header {
//     display: block;
//     text-align:center;
//     padding: 20px;
//     background: #ededed;
//
//     .logo {
//         height: 100px;
//     }
//
//     &.small {
//         text-align:right;
//
//         .logo {
//             height: 60px;
//         }
//     }
// }

.navbar-sugoi {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(248, 248, 248, 0);

    .navbar-brand {
        color: #333;
        font-weight: 800;
        font-size: 2em;
    }

    .navbar-nav>li>a {
        color: #333;

        &:hover {
            background-color: transparent;
        }
    }
}
